# --- Global Python Ignores ---
**/__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Global Node Ignores ---
node_modules/
dist/
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Project Specific Ignores ---
backend/qdrant_db/
backend/venv/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env

# --- System Ignores ---
.DS_Store
Thumbs.db
